body {
  background: rgba(255,255,255,1);
  margin: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "proxima-nova",sans-serif;
}

main {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh;
}

a {
  color: #f9f9f9;
}

a:hover {
  color: #2C9393;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
}

#projects-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
  max-width: 400px;
}

.project {
  display: inline-block;
  background: rgba(220,220,220,1);
  min-width: 100px;
  min-height: 100px;
  width: 20%;
  max-height: 250px;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 0 5px rgba(200,200,200,1);
  padding: 2%;
}

.none {
  opacity: 0;
}

.project img {
  margin: auto;
  width: 90%;
  height: 90%;
}

.hoverCover {
  position: absolute;
  bottom: 100%;
  left: 0;

  text-shadow: 1px 1px 1px #555;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 16px;
  height: 50%;
}

.hoverCover a {
  color: #2C9393;
}

.hoverCover p {
  margin: auto;
  width: 80%;
  font-size: 1em;
}

#navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  min-height: 100px;
  position: relative;
  margin-bottom: 10px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 80px;
  background: rgba(255,255,255,0);
  cursor: pointer;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
  font-size: calc( 16px + 1vw );
}
.nav:hover {
  background: rgba(255,255,255,.5);
  box-shadow: 0 0 5px #ffffff;
  color: #2C9393;
}
.navText {
  margin: auto;
}

#fax {
  min-width: 250px;
  min-height: 250px;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  margin: auto;
}

#faxImg {
  width: 100%;
  height: 100%;
}

#contactContainer {
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactText {
  text-align: center;
  font-size: calc( 12px + 1vw );
  margin: 0 10px;
}
.contactText a {
  border-radius: 3px;
  background: rgba(255,255,255,0);
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
  text-decoration: none
}
.contactText a:hover {
  background: rgba(255,255,255,.5);
  box-shadow: 0 0 5px #ffffff;
}

#contactLinksContainer {
  display: flex;
  justify-content: center;
}

#aboutContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px auto;
  max-width: 500px;
}

#aboutTop {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 500px;
}

#aboutName {
  font-size: 40px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left:  20px;
  max-height: 100%;
  max-width: 500px;
}

@media screen and (max-width: 530px) {
  #aboutName {
    font-size: 4vw
  }
}

#aboutText {
  font-size: 20px;
  text-align: justify;
  margin: 20px;
  width: 80vw;
  max-width: 500px;
}

#mugShot {
  min-width: 250px;
  min-height: 250px;
  max-width: 300px;
  max-height: 300px;
  position: relative;
}

#mugShot img {
  width: 100%;
  height: 100%;
}

#mugCover {
  visibility: hidden
}

#mugCover:hover {
  visibility: visible
}

#walk {
  position: absolute;
  background:url(http://orig06.deviantart.net/6326/f/2015/090/d/6/pokemon_trainer_red_by_thebrianpeedsawesome-d8nvc3a.png);
  background-size: 400% 400%;
  width: 100px;
  height: 100px;
  right: 0px;
}
#walk.up {
  background-position: 0% 900%;
}
#walk.down {
  background-position: 0% 0%;
}
#walk.left {
  background-position: 0% 300%;
}
#walk.right {
  background-position: 0% 600%;
}
.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:.5;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

@media only screen and (max-device-width: 400px) {
  .project{
    min-width: 70vw;
    max-width: 70vw;
    min-height: 70vw;
    max-height: 70vw;
    margin: 2vw;
  }

  .nav {
    min-height: 10vh;
    font-size: 5vw;
  }

  .hoverCover, .contactText, #aboutText {
    font-size: 4vw;
  }

  #aboutContainer {
    max-width: 80vw;
    margin-top: 2vw;
  }

  #aboutText {
    max-width: 80vw;
  }

  #aboutTop {
    max-width: 80vw;
  }

  #aboutName {

  }

  #mugShot {
    min-width: 60vw;
    max-width: 60vw;
    min-height: 60vw;
    max-height: 60vw;
  }

}

