body {
  background: turquoise;
  margin: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "proxima-nova",sans-serif;
  color: white;
}

main {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

a {
  color: white;
}

#projects-container {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 5vh;
}

.project {
  margin: 10px;
  display: inline-block;
  background: white;
  min-width: 100px;
  max-width: 250px;
  min-height: 100px;
  max-height: 250px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.project img {
  margin: auto;
  width: 90%;
  height: 90%;
}

.hoverCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 1.2vw #000000;
  text-shadow: 1px 1px 1px #555;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 16px;
}

.hoverCover p {
  margin: auto;
  width: 80%;
  font-size: 1em;
}

#navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  min-height: 100px;
  position: relative;
  margin-bottom: 10px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: auto;
  text-align: center;
  width: 100%;
  min-height: 80px;
  background: rgba(255,255,255,0);
  color: white;
  cursor: pointer;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
  font-size: calc( 16px + 1vw );
}
.nav:hover {
  background: rgba(255,255,255,.5);
  box-shadow: 0 0 1.2vw #ffffff;
  color: turquoise;
}
.navText {
  margin: auto;
}

#contactContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactText {
  text-align: center;
}
.contactText a {
  background: rgba(255,255,255,0);
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
  text-decoration: none
}
.contactText a:hover {
  background: rgba(255,255,255,.5);
  box-shadow: 0 0 1.2vw #ffffff;
  color: turquoise;
}

@media only screen and (max-device-width: 400px) {
  .project{
    min-width: 70vw;
    max-width: 70vw;
    min-height: 70vw;
    max-height: 70vw;
    margin: 2vw;
  }

  .nav {
    min-height: 10vh;
  }

  .hoverCover {
    font-size: 4vw;
  }
}

#mugShot {
  min-width: 100px;
  max-width: 250px;
  min-height: 100px;
  max-height: 250px;
  position: relative;
  margin: 20px auto;
}

#mugShot img {
  width: 100%;
  height: 100%;
}

#mugCover {
  visibility: hidden
}

#mugCover:hover {
  visibility: visible
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
  box-shadow: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:.5;
  box-shadow: 0 0 1.2vw #ffffff;
}

