body {
  background: rgba(255,255,255,1);
  margin: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "proxima-nova",sans-serif;
  background-position: center center;
  background-size: cover;
}

main {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh;
}

a {
  color: #333333;
}

a:hover {
  color: #2C9393;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
}

.highlight {
  display: inline;
  background: rgba(0,0,0,0.6);
  line-height: 1.5em;
}

#projects-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
  left: 0px;
  max-width: 400px;
}

.project {
  display: inline-block;
  background: rgba(220,220,220,1);
  min-width: 100px;
  min-height: 100px;
  width: 20%;
  max-height: 250px;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 0 5px rgba(200,200,200,1);
  padding: 2%;
}
.project:hover {

}

.none {
  opacity: 0;
}

.project img {
  margin: auto;
  width: 90%;
  height: 90%;
}

.hoverCover {
  position: absolute;
  bottom: 100%;
  left: 0;
  color: white;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 16px;
  height: 50%;
}

.hoverCover a {
  color: #2C9393;
}

.hoverCover p {
  margin: auto;
  width: 80%;
  font-size: 1em;
}

#navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  min-height: 100px;
  position: relative;
  margin-bottom: 10px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 80px;
  background: rgba(255,255,255,0);
  cursor: pointer;
  font-size: calc( 16px + 1vw );
}
.navText {
  margin: auto;
  border-bottom: 1px solid rgba(0,0,0,0);
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
}
.nav:hover .navText {
  border-bottom: 1px solid rgba(0,0,0,1);
}

#fax {
  min-width: 250px;
  min-height: 250px;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  margin: auto;
}

#faxImg {
  width: 100%;
  height: 100%;
}

#contactContainer {
  margin: 2em auto;
  text-align: center;
}
#contactContainer .text-cont {
  display: inline-block;
  padding: 0.66em 1em;
  border-radius: 5px;
  background: rgba(255,255,255,0.8);
}

.contactText {
  text-align: center;
  font-size: calc( 12px + 1vw );
  margin: 0 10px;
}
.contactText a {
  border-radius: 3px;
  background: rgba(255,255,255,0);
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
  text-decoration: none
}
.contactText a:hover {
/*  background: rgba(255,255,255,.5);
  box-shadow: 0 0 5px #ffffff;*/
}

#contactLinksContainer {
  display: flex;
  justify-content: center;
}

#aboutContainer {
  margin: 10px auto;
  max-width: 500px;
  background: rgba(255,255,255,0.8);
}

#aboutTop {
  display: flex;
  flex-flow: row wrap;
}

#aboutName {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em auto;
  max-height: 100%;
  max-width: 500px;
}
#aboutName div:nth-child(1) {
  font-size: 3em;
}
#aboutName div:nth-child(2) {
  font-size: 1.66em;
}
#aboutName div:nth-child(3) {
  font-size: 1em;
}
#aboutName div:nth-child(4) {
  font-size: 0.66em;
}


#aboutText {
  font-size: 20px;
  text-align: justify;
  margin: 1.66em 2em;
}

#resume {
  border-radius: 3px;
  background: rgba(255,255,255,0);
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
  text-decoration: none;
  color: rgba(33,33,33,1);
  padding-bottom: 1em;
  display: block;
}

#mugShot {
  min-height: 250px;
  max-height: 300px;
  min-width: 250px;
  max-width: 300px;
  position: relative;
}
#mugShot img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  #aboutName {
    flex-flow: row wrap;
    margin: 1.66em auto 0;
  }
  #mugShot {
    width:100%;
    min-height: 250px;
    max-height: 300px;
    min-width: 0;
    max-width: none;
    overflow: hidden;
    position: relative;
  }
  #mugShot img {
    width: 100%;
    top: -10vw;
    height: 100%;
    position: relative;
  }
}

#mugCover {
  visibility: hidden
}

#mugCover:hover {
  visibility: visible
}

#walk {
  background:url(http://orig06.deviantart.net/6326/f/2015/090/d/6/pokemon_trainer_red_by_thebrianpeedsawesome-d8nvc3a.png);
  background-size: 400% 400%;
  background-position: 0% 900%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#walk.up {
  background-position: 0% 900%;
  animation: walkUp 1s steps(1) infinite;
}
#walk.down {
  background-position: 0% 0%;
  animation: walkDown 1s steps(1) infinite;
}
#walk.left {
  background-position: 0% 300%;
  animation: walkLeft 1s steps(1) infinite;
}
#walk.right {
  background-position: 0% 600%;
  animation: walkRight 1s steps(1) infinite;
}

body.up{
  background-image: url(../assets/projects/hashtag_.jpg);
  background-repeat: repeat-y;
  animation: mapUp 66666666s linear infinite;
}
body.down{
  background-image: url(http://i.imgur.com/ro5bn3v.png);
  background-repeat: repeat-y;
  animation: mapDown 66666666s linear infinite;
}
body.left{
  background-image: url(http://i.imgur.com/ro5bn3v.png);
  background-repeat: repeat-x;
  animation: mapLeft 66666666s linear infinite;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  /*transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;*/
  /*animation: walkLeft 1s steps(1);*/
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:.5;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  /*transition:all linear 0.5s;*/
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

@keyframes walkUp {
  0%   { background-position: 0% 900%; }
  25%  { background-position: 300% 900%; }
  50% { background-position: 600% 900%; }
  75% { background-position: 900% 900%; }
}
@keyframes walkLeft {
  0%   { background-position: 0% 300%; }
  25%  { background-position: 300% 300%; }
  50% { background-position: 600% 300%; }
  75% { background-position: 900% 300%; }
}
@keyframes walkRight {
  0%   { background-position: 0% 600%; }
  25%  { background-position: 300% 600%; }
  50% { background-position: 600% 600%; }
  75% { background-position: 900% 600%; }
}
@keyframes walkDown {
  0%   { background-position: 0% 000%; }
  25%  { background-position: 300% 000%; }
  50% { background-position: 600% 000%; }
  75% { background-position: 900% 000%; }
}

@keyframes mapUp {
  0% { background-position: 0 -500px }
  100% { background-position: 0 999999999px }
}
@keyframes mapLeft {
  0% { background-position: 0 0 }
  100% { background-position: 999999999px 0 }
}
@keyframes mapDown {
  0% { background-position: 0 0 }
  100% { background-position: 0 -999999999px }
}
@keyframes mapRight {
  0% { background-position: 0 0 }
  100% { background-position: -999999999px 0 }
}

@media only screen and (max-device-width: 400px) {
/*  #project-con
  .project{
    min-width: 40px;
    min-height: 40px;
    margin: 2vw;
  }*/

  .nav {
    min-height: 10vh;
    font-size: 5vw;
  }

  .hoverCover, .contactText, #aboutText {
    font-size: 4vw;
  }

  #aboutContainer {
    max-width: 80vw;
    margin-top: 2vw;
  }

  #aboutText {
    max-width: 80vw;
  }

  #aboutTop {
    max-width: 80vw;
  }

  #aboutName {

  }

  #mugShot {
    min-width: 60vw;
    max-width: 60vw;
    min-height: 60vw;
    max-height: 60vw;
  }

}

