<div id="aboutContainer">
  <div id="aboutTop">
    <div id="mugShot">
      <img src="assets/projects/mugshot.jpg">
      <div class="hoverCover" id="mugCover">MUG<br>SHOT</div>
    </div>
    <div id="aboutName">
      <div>BEN</div>
      <div>BBEN</div>
      <div>BENNY</div>
      <div>BENJABEN</div>
    </div>
  </div>

  <div id="aboutText">Ben is a writer from LA via NYC. After years of event production and marketing in the arts, entertainment, and tech industries, he shifted his focus to full-stack web development in 2015 so he could better assist and collaborate with artists in our increasingly digital milieu. Ben has worked with an eclectic cast of companies, from Tinder to DONDA. His spirit Pokémon is Ivysaur.</div>

  <div id="resume" class="contactText"><a href="/assets/benjamin-resume-jan-16.pdf">resume</a></div>
</div>
