<!-- <base href="/" /> -->

<div id="contactContainer">
  <div id="email" class="contactText">benmbenjamin@gmail.com</div>

  <div id="mugShot">
    <img src="assets/projects/mugshot.jpg">
    <div class="hoverCover" id="mugCover">MUG<br>SHOT</div>
  </div>

  <div id="github" class="contactText"><a href="https://github.com/benjaminben">Github</a></div>
  <div id="email" class="contactText"><a href="https://linkedin.com/in/benjaminben">LinkedIn</a></div>
  <div id="email" class="contactText"><a href="https://www.instagram.com/beners/">Instanet</a></div>
</div>
