<!-- <base href="/" /> -->

<div id="contactContainer">

<div id="fax">
  <img id="faxImg" src="/assets/fax_machine.png">
</div>

  <div id="email" class="contactText">benmbenjamin@gmail.com</div>


  <div id="contactLinksContainer">
    <div id="github" class="contactText"><a href="https://github.com/benjaminben">Github</a></div>
    <div id="email" class="contactText"><a href="https://linkedin.com/in/benjaminben">LinkedIn</a></div>
    <div id="email" class="contactText"><a href="https://www.instagram.com/beners/">Instanet</a></div>
  </div>
</div>
