<!-- <base href="/" /> -->
<div id="theProjects"></div>

<div id="walk" ng-class="{'up':ben.up, 'left':ben.left, 'down':ben.down, 'right':ben.right}">
</div>

<div id="projects-container">
<!--   <div id="explanationContainer">
    My names are Ben<br>I build apps using various internets<br>Here are some projects I'm currently working on
  </div> -->
  <div ng-repeat="project in ben.projects"
       ng-model="wiggle"
       class="project animate-repeat"
       ng-class="{none : $index%2==0}"
       ng-mouseover="ben.setSelectedProject($index); $event.stopPropagation(); ben.walk($index)"
       ng-click="ben.setSelectedProject($index); $event.stopPropagation(); ben.walk($index)"
       >
    <img src="{{project.picture}}">
    <div ng-if="$index === ben.selectedProject.index"
         class="hoverCover animate-if">
      <span><p class="highlight">{{project.title}}</p></span>
      <span><p class="highlight">{{project.desc}}</p></span>
      <span><p class="highlight">{{project.tech}}</p></span>
      <span>
        <p class="highlight"><a target="_blank" href="{{project.href}}">{{project.link}}</a></p>
      </span>
    </div>
  </div>
</div>
