<!-- <base href="/" /> -->
<div id="projects-container">
<!--   <div id="explanationContainer">
    My names are Ben<br>I build apps using various internets<br>Here are some projects I'm currently working on
  </div> -->
  <div ng-repeat="project in ben.projects"
       class="project animate-repeat"
       ng-mouseover="ben.setSelectedProject($index); $event.stopPropagation()"
       ng-click="ben.setSelectedProject($index); $event.stopPropagation()"
       ng-mouseleave="ben.selectedProject = {};">
    <img src="{{project.picture}}">
    <div ng-if="$index === ben.selectedProject.index"
         class="hoverCover animate-if">
      <p>{{project.title}}</p>
      <p>{{project.desc}}</p>
      <p>{{project.tech}}</p>
      <p><a target="_blank" href="{{project.href}}">{{project.link}}</a></p>
    </div>
  </div>
</div>
